RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY
GATEWAY_SECRET_KEY=[your,gateway,keypair,bytes]
CREATOR_WALLET=YourCreatorWalletPublicKey
AGENT_WALLET=YourPumpFunAgentWalletPublicKey
LAMPORTS_PER_SECOND=1000
PORT=4020
